app = "epay-app-2"
primary_region = "bom"

[build]

[env]
  SCOPES = "write_products"
  SHOPIFY_APP_URL = "https://epay-app-2.fly.dev"

[processes]
  app = "npm run docker-start"

[[mounts]]
  source = "data"
  destination = "/data"

[http_service]
  internal_port = 8080
  force_https = true
  auto_start_machines = true
  auto_stop_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  memory = "1gb"
  cpus = 1
